
h1 {
  margin-bottom: 100px;
  background-color: #A52A2A;
  }
section {
    float: left;
    border: 5px solid black;
    margin: 20px
    }
@media (min-width: 1200px) {
    .col-lg {
     width: 25%;
  }
  
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
  .col-md {
    width: 50%;
  }
  
    
}

/********** small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  .col-sm {
    width: 100%;
 
  }
}
